/*stylesheet for contact page*/
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

header{
    color: #587fb5;
    padding-bottom: 3%;
}

body{
    margin:0px;
}


section{
    background-color: #a4bfdd;
    color: #000755;
    padding-top: 5%;
    padding-bottom: 5%;
}

h2{
    padding-bottom: 2%;
    font-size: 30px;
}

a:link{
    color: #587fb5;
    padding-right: 2%;
    text-decoration: none;
}

a:visited{
    color: #1d3b78;
    text-decoration: none;
}  

a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }

hr{
    width:50%;
    text-align:left;
    margin-left:01;
}
